<%= form_for @distributor do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :provincia %><br />
    <%= f.text_field :provincia %>
  </p>
  <p>
    <%= f.label :comune %><br />
    <%= f.text_field :comune %>
  </p>
  <p>
    <%= f.label :indirizzo %><br />
    <%= f.text_field :indirizzo %>
  </p>
  <p>
    <%= f.label :fulladdress %><br />
    <%= f.text_field :fulladdress %>
  </p>
  <p>
    <%= f.label :img_url %><br />
    <%= f.text_field :img_url %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :prezzo %><br />
    <%= f.text_field :prezzo %>
  </p>
  <p>
    <%= f.label :prezzo_min %><br />
    <%= f.text_field :prezzo_min %>
  </p>
  <p><%= f.submit %></p>
<% end %>
